/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.edit-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 2.5rem;
	color: white;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}

.hidden {
	display: none;
}


.edit-mode i {
	padding-right: 0.5rem;
}


/* Modal */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 560px;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: none;
}

.modal h2 {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: black;
	margin-top: 60px;
	margin-bottom: 45px;
}

.close-btn {
	position: absolute;
	top: 26px;
	right: 30px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 24px;
}

#arrow {
	display: none;
}


.left-arrow {
	position: absolute;
	top: 26px;
	left: 30px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 24px;
}

#title {
	width: 96%;
}


.modal-wrapper img {
	display: block;
	width: 100px;
	height: auto;
	border-radius: 5px;
}


.modalContent {
	width: 100%;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}

.cloned-figure {
	position: relative;
}

.delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	padding: 3px;
	background-color: black;
	border-radius: 2px;
	width: 15px;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#editGallery .modalContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 10px;
}

#labelPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 30px;
	text-align: center;
	width: auto;
	padding: 25px 0;
	position: relative;
	box-sizing: border-box;
}

#labelPhoto p {
	font-size: 10px;
	font-weight: 400;
}

.form-label label {
	display: flex;
	margin : 10px 0;

}

#addPicture {
	padding: 0 30px;
}

.fa-image {
	font-size: 76px;
	color: #B9C5CC;
}

#browsePictures {
	display: inline-block;
	padding: 10px 33px;
	background-color: #CBD6DC;
	color: #306685;
	font-size: 14px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;

}

#browsePictures:hover {
	background-color: #c0cace;
}

#photo {
	display: none;
}

#add-photo-btn {
	font-family: Syne;
	background: #2d6c5c;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	width: auto;
	padding: 10px 49px;
	margin-top: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	width: 100%;
}

#portfolio h2 {
	margin: 0;
	flex-shrink: 0;
}

.modify {
	padding-left: 30px;
	cursor: pointer;
}

.fa-solid {
	margin-right: 5px;
}

.filter-container {
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	margin: 50px auto;
	gap: 10px
}

.filter-container>* {
	padding: 9px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}

.filter-container>*:hover {
	color: white;
	background-color: #1D6154;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 10px;
}

.gallery img {
	width: 100%;
	object-fit: cover;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: Syne;
	background: #2d6c5c;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	width: auto;
	padding: 10px 49px;
	margin-top: 20px;
}

input, select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	background: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#login {
	width: 50%;
	margin: 150px auto;
}

#login>* {
	text-align: center;
}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.error-login {
	background-color: red;
	font-size: 16px;
	color: white;
	display: flex;
	justify-content: center;
	padding: 10px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}